#
#
# Copyright 2024-2025 NXP
#
# NXP Proprietary.
# This software is owned or controlled by NXP and may only be used strictly
# in accordance with the applicable license terms. By expressly accepting
# such terms or by downloading, installing, activating and/or otherwise using
# the software, you are agreeing that you have read, and that you agree to
# comply with and are bound by, such license terms. If you do not agree to be
# bound by the applicable license terms, then you may not retain, install,
# activate or otherwise use the software.
#
#

# uncomment the one to test
1037-1070 # imx-dualpan.sh
#1037-1071 # imx-wifi.sh
#1037-1075 # x86-zigbee.sh
#1037-1080 # zb_config.service
#1037-1081 # zb_config.sh
#1037-1083 # zb_mux.service
#1037-1084 # zb_mux.sh
#1037-1085 # zb_mux.env
#1037-1086 # zb_app.service
#1037-1087 # zb_app.sh
#1037-1088 # zb_app.env
#1037-1100 # zb_mux
#1037-1400 # simple_gw
#1037-1401 # on_off_output_zc
#1037-1402 # on_off_switch_zed
#1037-1403 # light_zc
#1037-1404 # bulb
#1037-1405 # light_control
#1037-1406 # on_off_distrib_output_zr
#1037-1407 # on_off_distrib_switch_zed
#1037-1408 # thermostat_zc
#1037-1409 # thermostat_zr
#1037-140A # ota_simple_download_zc
#1037-140B # ota_simple_download_zr
#1037-140C # ota_server_zc
#1037-140D # ota_client_zr
# NEXT...
#
#1037-6120 # sd_w61x.bin.se (prod)
#1037-6121 # sd_w61x.bin.se (eng)
#1037-6122 # sd_w61x.bin
#1037-6124 # sduart_nw61x.bin.se (prod)
#1037-6125 # sduart_nw61x.bin.se (eng)
#1037-6126 # sduart_nw61x.bin
#1037-6128 # uartuart_n61x.bin.se (prod)
#1037-6129 # uartuart_n61x.bin.se (eng)
#1037-612A # uartuart_n61x.bin
#1037-612C # uartspi_n61x.bin.se (prod)
#1037-612D # uartspi_n61x.bin.se (eng)
#1037-612E # uartspi_n61x.bin

