/*
 * Copyright 2026 NXP
 * SPDX-License-Identifier: Apache-2.0
 */

/ {
	aliases {
		log-uart = &lpuart0;
	};
};

/ {
	chosen {
		zephyr,code-partition = &slot0_partition;
	};
};

/* Delete all existing partitions */
/delete-node/ &boot_partition;
/delete-node/ &slot0_partition;
/delete-node/ &slot1_partition;
/delete-node/ &storage_partition;

/* Redefine internal flash partitions */
&flash {
	/delete-node/ partitions;

	partitions {
		compatible = "fixed-partitions";
		#address-cells = <1>;
		#size-cells = <1>;

		slot0_partition: partition@0 {
			label = "image-0";
			reg = <0x0 DT_SIZE_K(928)>;
		};

		/*
		 * slot1 is a bit larger than slot0 to account
		 * for the overhead introduced by SB3.1 format.
		 */
		slot1_partition: partition@e8000 {
			label = "image-1";
			reg = <0xe8000 DT_SIZE_K(1008)>;
		};

		storage_partition: partition@1e4000 {
			label = "storage";
			reg = <0x1e4000 DT_SIZE_K(80)>;
		};

		zb_nvram: partition@1f8000 {
			label = "zb-nvram";
			reg = <0x1f8000 DT_SIZE_K(32)>;
		};
	};
};

&ieee802154_eui64_ifr0 {
	status = "okay";
};

&zb_settings_ifr0 {
	status = "okay";
};

&zb_secured_ifr0 {
	status = "okay";
};
