[Unit]
Description=ZBOSS Configuration
ConditionPathExists=/etc/default/zb_mux_app.config
Before=zb_mux.service zb_app.service
After=sysinit.target
Requires=sysinit.target

[Service]
Type=oneshot
RemainAfterExit=yes
EnvironmentFile=/etc/default/zb_mux_app.config
ExecStart=/usr/sbin/zb_config.sh start
ExecStop=/usr/sbin/zb_config.sh stop

[Install]
WantedBy=multi-user.target
Alias=zb_config.service
