/ {
	chosen {
		zephyr,code-partition = &slot0_partition;
	};
};

/* Delete all existing partitions */
/delete-node/ &boot_partition;
/delete-node/ &slot0_partition;
/delete-node/ &slot1_partition;
/delete-node/ &storage_partition;
/delete-node/ &hw_params_partition;

/* Redefine internal flash partitions */
&flash {
	/delete-node/ partitions;

	partitions {
		compatible = "fixed-partitions";
		#address-cells = <1>;
		#size-cells = <1>;

		boot_partition: partition@0 {
			label = "mcuboot";
		reg = <0x0 DT_SIZE_K(80)>;
		};

		slot0_partition: partition@14000 {
			label = "image-0";
			reg = <0x14000 DT_SIZE_K(928)>;
		};

		slot1_partition: partition@fc000 {
			label = "image-1";
			reg = <0xfc000 DT_SIZE_K(928)>;
		};

		storage_partition: partition@1e4000 {
			label = "storage";
			reg = <0x1e4000 DT_SIZE_K(72)>;
		};

		zb_nvram: partition@1f6000 {
			label = "zb-nvram";
			reg = <0x1f6000 DT_SIZE_K(32)>;
		};

		hw_params_partition: partition@1fe000 {
			label = "hw-parameters";
			reg = <0x1fe000 DT_SIZE_K(8)>;
		};
	};
};
